:root {
    /* colores */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* fuentes */
    --font-roboto: "Roboto";

}